html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: "SimHei", sans-serif;
}


#editor {
    width: 100%;
    height: calc(100vh - 80px);
    margin-top: 80px;
    padding: 20px;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: "SimHei", monospace;
    white-space: pre;
}
